{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
        <h1 class="logo">Inscription</h1>

    <div class="register">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}

        <h3>Remplissez le formulaire ci-dessous :</h3>

        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
