html,body {
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #5c5c5c;
    color: white;
    height:100%;
}
main{
    flex:1;
}
form{
    margin-top: 30vh;
    text-align: center;
}
footer {
    background-color: #1c1c1c;
    text-align: center;
    height: 5%;
}
header{
   background-color: #1c1c1c;
    margin-bottom: 5vh;
}
a{
    color: white;
    text-decoration: none;
}