<div>
<h1>Logo Sortir.com</h1>

<nav class="header-nav">
    {% if app.user %}
    <a href="{#  {{ path('main_home') }}#}" title="About us">Accueil</a>
        <a href="{#  {{ path('main_home') }}#}" title="About us">Accueil</a>
        <a href="{#  {{ path('app_profil') }}#}" title="MonProfil">Mon profil</a>
        <a href="{{ path('app_logout') }}" title="Logout">Se déconnexion</a>
    {% endif %}
</nav>
</div>
